.parallax-image {
background-image: url("../images/rubber-plant-bg.jpg");

min-height: 500px;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}